.links {
  flex-direction: column;
  margin-top: 2rem;
  color:$darkyellow;

  &__item {
    text-align: left;
    font-size: $small;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
    padding:1rem 4rem;

    &:after{
      content:"Go to link";
      position:absolute;
      top:0;
      visibility: hidden;
      padding:1rem 3rem;
      border-radius: 1rem;
    }

    &.email{
      &:after{
        content:"copy to clipboard";
        position:absolute;
        top:0;
        visibility: hidden;
        padding:1rem 3rem;
        border-radius: 1rem;
      }
    }

    &:hover {
      visibility: hidden;
      text-align: left;
      transform: translateX(30px);

      &:after{
        visibility: visible;
        display:block;
        background-color: beige;
      }
    }

  }
}
