// Colors 
$black : #181A1B;
$white : #F2F2F2;
$highlight : #FAAA20;
$darkyellow : #C68719;
$darkblue : #0D0A8A;


// Font Sizes
$xlarge : 4.75rem;          // hero text (76px)
$large : 3rem;              //title (48px)
$medium_sub : 1.94rem;      // subtitle (31px)
$medium : 1.56rem;          // body (destop) (25px)
$small : 1.25rem;           // body (mobile) (20px)
